@model SemaFlags.ViewModels.GroupView
@using SemaFlags.Models

@{
    ViewData["Title"] = "Board details";
}

<div class="bg-primary panel-body"><h4>Board: @ViewBag.Name</h4><h5><br />@ViewBag.Description</h5></div><br />
<a asp-action="Add" asp-controller="Group" asp-route-id=@ViewBag.Id><span class="glyphicon glyphicon-plus"></span><b> Add group</b></a>


<div class="row">
    @foreach (SemaFlags.Models.Group g in Model.Groups)
    {

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-weight: bold;"><h4><a asp-controller="Group" asp-route-id=@g.Id>@g.Name</a></h4></div>

                <ul class="list-group">
                    @foreach (SemaFlags.Models.Node n in Model.Nodes)
                    {
                        @if (n.GroupId == g.Id)
                        {
                            <li class="list-group-item">
                                @{string boxId = "userBox" + n.Id;
                                    string stateId = "state" + n.Id;
                                    string nodeAction = "nodeAction" + n.Id;
                                    User AssignedUser = Model.Users.FirstOrDefault(usr => usr.Id == n.AssignedUserId);
                                    }
                                <p class="alignLeft">
                                    <b><a asp-action="Index" asp-controller="Node" asp-route-id=@n.Id>@n.Name</a></b>
                                </p>
                                <p class="alignRight">
                                    <span id="@stateId"></span>
                                    <span id="@nodeAction">
                                        @*<select asp-items="@Model.Users" name="Id" id=@boxId asp-for=@n.AssignedUserId class="userBox"><option>Unassigned</option></select>*@

                                        @if (n.AssignedUserId == Model.userId)
                                        {
                                            <button onclick="releaseNode(@n.Id, 0)">Release</button>
                                        }
                                        else if (n.AssignedUserId != 0)
                                        {
                                            
                                            <a href="sip:@AssignedUser.Email"><span class="glyphicon glyphicon-envelope"></span></a>
                                            <a href="tel:@AssignedUser.Email"><span class="glyphicon glyphicon-phone"></span></a>
                                            <label> @AssignedUser.Name</label><br />
                                        }
                                        else
                                        {
                                            <button onclick="claimNode(@n.Id,@Model.userId)">Claim</button>
                                        }
                                    </span>

                                </p>
                                <div style="clear: both;"></div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }

</div>

<a asp-action="Index" asp-controller="Home">List of boards.</a>

