@model SemaFlags.ViewModels.GroupView

@{
    ViewData["Title"] = "Board details";
}

<div class="bg-primary panel-body"><h4>Board: @ViewBag.Name</h4><h5><br />@ViewBag.Description</h5></div><br />
<a asp-action="Add" asp-controller="Group" asp-route-id=@ViewBag.Id><span class="glyphicon glyphicon-plus"></span><b> Add group</b></a>


<div class="row">
    @foreach (SemaFlags.Models.Group g in Model.Groups)
    {

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-weight: bold;"><h4><a asp-controller="Group" asp-route-id=@g.Id>@g.Name</a></h4></div>

                <ul class="list-group">
                    @foreach (SemaFlags.Models.Node n in Model.Nodes)
                    {
                        @if (n.GroupId == g.Id)
                        {
                            <li class="list-group-item">
                                @{string boxId = "userBox" + n.Id;
                                    string stateId = "state" + n.Id; }
                                <p class="alignLeft">
                                    <b><a asp-action="Index" asp-controller="Node" asp-route-id=@n.Id>@n.Name</a></b>
                                </p>
                                <p class="alignRight">
                                    <span id="@stateId"> </span>
                                    <select asp-items="@Model.Users" name="Id" id=@boxId asp-for=@n.AssignedUserId class="userBox"><option>Unassigned</option></select>
                                </p>
                                <div style="clear: both;"></div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }

</div>

<a asp-action="Index" asp-controller="Home">List of boards.</a>

