@model IEnumerable<SemaFlags.Models.Node>

@{
    ViewData["Title"] = "Group details";
}

<p>
    <h4>
        <label>Group: @ViewBag.Name</label>
    </h4>
</p>
<p>
    <label>@ViewBag.Description</label>
</p>
<a asp-action="Add" asp-controller="Node" asp-route-id=@ViewBag.GroupId><span class="glyphicon glyphicon-plus"></span><b> Add node</b></a>
<p>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                @*<th>ID</th>*@
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SemaFlags.Models.Node n in Model)
            {
                <tr>                  
                    @*<td>@n.Id</td>*@
                    <td><a asp-action="Index" asp-controller="Node" asp-route-id=@n.Id>@n.Name</a></td>
                    <td>@n.Description</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Node" asp-route-id=@n.Id><span class="glyphicon glyphicon-edit"></span></a>
                        <a asp-action="Delete" asp-controller="Node" asp-route-id=@n.Id><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index" asp-controller="Board" asp-route-id=@ViewBag.BoardId>List of groups.</a>    
</p>

